html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: cabin, sans-serif;
}

.content-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* sketch box */
.main-frame-box{
    background-color: whitesmoke;
}

#frame{
    width: 600px;
    height: 600px;
}

@media only screen and (max-width: 599px){
    #frame{
        width: 400px;
        height: 400px;
    } 
}

@media only screen and (max-width: 399px){
    #frame{
        width: 300px;
        height: 300px;
    } 
}

/* sketch */
#frame canvas{
    border-radius: 1px;
}

.title, .bio{
    margin: 5px;
}

.frame-title{
    font-size: 40px;
    margin: 10px;
}


.main-sketch-button{
    margin-top: 10px;
    padding: 10px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
}

.frame-footer{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}