html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}


/* sketch box */
.frame-box{
    display: flex;
    justify-content: center;
    align-items: center;

}

#frame{
    width: 600px;
    height: 600px;
}

/* sketch */
#frame canvas{
    border-radius: 1px;
}

